/* Write your code here. */
.emoji-list-container {
  list-style-type: none;
}
.emoji-btn1 {
  background-color: #ffffff30;
  border-radius: 20px;
  border-color: white;
  border-width: 1px;
  width: 180px;
  height: 180px;
  padding: 10px;
  margin: 20px;
  outline: none;
}
